{% extends "basic.html" %}
{% load static %}

{% block body %}
   <!-- ======= Header ======= -->
   <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'system' %}" class="logo d-flex align-items-center">
        <img src="{% static 'img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">SMM</span>
      </a>
    </div><!-- End Logo -->

    <!-- Header Nav -->
    <ul class="nav ml-5">
      <li class="nav-item">
        <a class="nav-link {% if page == 'system' %} active {% else %} nav {% endif %}" href="{% url 'system' %}" >System</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page == 'equipment' %} active {% else %} nav {% endif %}" href="{% url 'equipment' %}" >Equipment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page == 'connections' %} active {% else %} nav {% endif %}" href="{% url 'connections' %}" >Connections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page == 'definitions' %} active {% else %} nav {% endif %}" href="{% url 'definitions' %}">Definitions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page == 'history' %} active {% else %} nav {% endif %}" href="{% url 'history' %}">History</a>
      </li>
    </ul>

    <ul class="nav ml-5">
      <li class="nav-item">
        <button type="button" class="btn btn-light rounded-pill m-2">Export</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-light rounded-pill m-2">Help</button>
      </li>
    </ul>
    <!-- // End Header Nav -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->
        </li><!-- End Notification Nav -->
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{request.user|capfirst}}</span>
          </a><!-- End Profile Iamge Icon -->
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{request.user.first_name}} {{request.user.last_name}}</h6>
              <span>Web Designer</span>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'account_logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <main id="main" class="main">
    {% block content %}

    {% endblock %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong> <span>System Model Management <span id="version"></span></span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="#">SMM</a>
    </div>
  </footer><!-- End Footer -->
{% endblock %}
