{% extends "base.html" %}
{% load static %}

{% block content %}

{{all_connection | json_script:'all_connection'}}
{{all_equipment | json_script:'all_equipment'}}
{{all_connection_types | json_script:'all_connection_types'}}
{{all_interface | json_script:'all_interface'}}

<section class="section connection">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Reports -->
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                
                <div class="row">
                  <div class="input-group mb-2 mt-3 p-0">
                    <span class="input-group-text">
                      <i class="bi bi-arrow-left-circle mr-3"></i>
                      <i class="bi bi-arrow-right-circle mr-3"></i>
                      <i class="bi bi-arrow-up-circle mr-3"></i>
                      <i class="bi bi-arrow-down-circle"></i>
                    </span>
                    <input type="text" class="form-control" id="basic_connection_full_identifier" aria-describedby="basic-addon3" placeholder="Full identifier (description)">
                  </div>
                </div>

                <div class="connection_page tab-content pt-2">

                  <!-- Start Connection Tab Content -->
                  <div class="tab-pane fade show active">
                    <!-- Main Content -->
                    <div class="row">
                      <!-- Left Object Hierarchy -->
                      <div class="col-xxl-2 col-lg-2 col-md-6 p-0">
                        <div class="card info-card left_object_hierarchy border-gray">
                          <div class="treeview-animated border mx-2 my-2">
                            <h6 class="pt-3 pl-3">Connections</h6>
                            <hr>
                            <ul class="treeview-animated-list mb-3" id="all_connection_tree">
                              
                            </ul>
                          </div>
                        </div>
                          
                      
                      </div><!-- End Left Object Hierarchy -->
                      
                      <!-- Middle Overview -->
                      <div class="col-xxl-8 col-lg-8 col-md-8 p-0">
                        <div class="card card-body right_overview border-gray">
                          <!-- Connections Form -->
                          <form class="row g-3">
                            <h5 class="card-title nav-tabs-bordered">Connection Detail</h5>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Identifier:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Full Identifier" value="" id="connection_full_identifier">
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Component Identifier:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Identifier" value="" id="connection_identifier">
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Include Parent Identifier</label>
                              <div class="col-md-8 form-check form-switch ml-3 pt-3">
                                <input class="form-check-input form-control" type="checkbox" id="connection_use_parent_identifier">
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Description:</label>
                              <div class="col-md-8">
                                <textarea class="form-control" placeholder="Description" style="height: 60px;" id="connection_description"></textarea>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Parent Path:</label>
                              <div class="col-md-8">
                                <select class="form-select" id="connection_parent_path">
                                  
                                </select>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Start Equipment:</label>
                              <div class="col-md-8">
                                <select class="form-select" id="start_equipment">
                                 
                                </select>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">End Equipment:</label>
                              <div class="col-md-8">
                                <select class="form-select" id="end_equipment">
                              
                                </select>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Start Interface:</label>
                              <div class="col-md-8">
                                <select class="form-select" id="start_interface">
                                 
                                </select>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">End Interface:</label>
                              <div class="col-md-8">
                                <select class="form-select" id="end_interface">
                              
                                </select>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Type:</label>
                              <div class="col-md-8">
                                <select class="form-select" id="all_connection_type">
                                  
                                </select>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Length:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" value="" id="connection_length">
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Comment:</label>
                              <div class="col-md-8">
                                <textarea class="form-control" placeholder="" style="height: 60px;" id="connection_comment"></textarea>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <div class="col-md-6">
                                <div class="form-check form-switch">
                                  <input class="form-check-input form-control" type="checkbox" id="connection_is_approved">
                                  <label class="form-check-label">Is Approved?</label>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <button type="button" class="btn btn-primary">
                                  <a class="nav-link" href="{% url 'definitions_connection_types' %}">
                                    Show Connection Type
                                  </a>                                  
                                </button>
                              </div>
                            </div>
                            <div class="row mt-3 p-2 pl-4">
                              <div class="col-md-4">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#connectionModal">
                                    Add Same
                                </button>
                              </div>
                              <div class="col-md-4">
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#connectionModal">
                                    Add Child
                                </button>
                              </div>
                              <div class="col-md-4">
                                <button type="button" id="btn_connection_delete" class="btn btn-danger">
                                    Delete
                                </button>
                              </div>
                              
                            </div>
                          </form><!-- End Connections Form -->


                          <div class="row">
                            <div class="col-md-12">
                              <!-- Start Connection Details table -->
                              <h5 class="card-title">Connection Attributes</h5>
                              <table class="table table-bordered text-center">
                                <thead style="background-color: #000; color: white; border: solid 1px;">
                                  <tr>
                                    <th class="text-center bl bt">Connection Detaiils</th>
                                    <th class="text-center br bt">Child Connections</th>
                                    <th class="text-center br bt">Start Interface</th>
                                    <th class="text-center br bt">End Interface</th>
                                  </tr>
                                </thead>
                                <tbody id="connection_attribute">
                                                                   
                                </tbody>
                              </table><!-- End Connection Details table -->
                            </div>
                          </div>
                        </div>
                      </div><!-- End Middle Overview -->

                      <!-- Right Object Hierarchy -->
                      <div class="col-xxl-2 col-lg-2 col-md-4 p-0">
                        <div class="card info-card right_object_hierarchy border-gray">
                          <h5 class="card-title pl-3 pb-0">Included Connections</h5>
                          <div class="child-treeview treeview-animated mt-3">
                            <ul class="treeview-animated-list" id="child_connection_tree">
                              
                            </ul>
                          </div>
                        </div>
                      </div><!-- End Right Object Hierarchy -->

                      <!-- Buttons Section -->
                      <div class="col-xxl-12 col-lg-12 col-md-12">
                        <div class="card">
                          <div class="card-body buttons_section">
                            <button type="button" class="btn btn-outline-secondary mr-3">Cancel</button>
                            <button type="button" class="btn btn-outline-primary">Commit</button>
                          </div>
                        </div>
                      </div><!-- End Buttons Section -->
                    </div><!-- End Main Content -->
                  </div>
                  <!-- // End Connection Tab Content -->
                </div><!-- End Bordered Tabs -->
              </div>
            </div>
          </div><!-- End Reports -->
        </div>
      </div><!-- End Left side columns -->
    </div>
    <div class="modal fade" id="connectionModal" tabindex="-1" aria-labelledby="connectionModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="connectionModalLabel">Add connection</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row mt-3">
              <label class="col-md-3 col-form-label text-secondary">Full Name:</label>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="connection name" value="" id="adding_connection_full_identifier">
              </div>
            </div>
            <div class="row mt-3">
              <label class="col-md-3 col-form-label text-secondary">Description:</label>
              <div class="col-md-8">
                <textarea class="form-control" placeholder="Description" style="height: 60px;" id="adding_connection_description"></textarea>
              </div>
            </div>
            <div class="row mt-3">
              <label class="col-md-3 col-form-label text-secondary">Parent Path:</label>
              <div class="col-md-8">
                <select class="form-select" id="adding_parent_path">
                  
                </select>
              </div>
            </div>
            <div class="row mt-3">
              <label class="col-md-3 col-form-label text-secondary">Location Path:</label>
              <div class="col-md-8">
                <select class="form-select" id="adding_location_path">
                  
                </select>
              </div>
            </div>
            <div class="row mt-3">
              <label class="col-md-3 col-form-label text-secondary">Type:</label>
              <div class="col-md-8">
                <select class="form-select" id="adding_connection_type">
                  
                </select>
              </div>
            </div>
            <div class="row mt-3">
              <label class="col-md-3 col-form-label text-secondary">Comment:</label>
              <div class="col-md-8">
                <textarea class="form-control" placeholder="Comment" style="height: 60px;" id="adding_connection_comment"></textarea>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="form-check form-switch">
                  <input class="form-check-input form-control" type="checkbox" id="adding_connection_approved">
                  <label class="form-check-label">Approved?</label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
    allEquipment = JSON.parse(document.getElementById('all_equipment').textContent)
    allConnectionTypes = JSON.parse(document.getElementById('all_connection_types').textContent)
    allConnection = JSON.parse(document.getElementById('all_connection').textContent)

    function createTree(data) {
      const nodeWithParent = []
      
      //make the equipment_path as string from list
      data.forEach(element => {
        if(element.connection_path){
          path = element.connection_path.join('.')
          element.connection_path = path       
        }else{
          element.connection_path = ''
        }   
      })

      //Find the parent for each element
      data.forEach(element => {
        const parent = element.connection_path.includes('.')? element.connection_path.substr(0, element.connection_path.lastIndexOf('.')):null
        nodeWithParent.push({...element, parent})
      });

      //Recursive function to create HTML out of node
      function getNodeHtml(n) {
        let html = ''
        const children = nodeWithParent.filter(d => d.parent === n.connection_path)
                  
        if(children.length > 0) {
          html += '<li class="treeview-animated-items treeview-li"> \
                      <a class="closed"> \
                        <i class="fas fa-angle-right"></i> \
                        <span class="ml-1 treeview-title" data-connectionpath="'+ n.connection_path +'">'+ n.connection_local_identifier + '  (' + n.connection_description + ')</span> \
                      </a> \
                      <ul class="nested">' 
            + children.map( getNodeHtml).join('')
            + '</ul></li>'
        }
        else{
          html += '<li class="treeview-li"><div class="treeview-animated-element treeview-title" data-connectionpath="'+ n.connection_path + '"> \
          '+n.connection_local_identifier + '  (' + n.connection_description +')</li>'
        }
        return html
      }

      // Get all root nodes (without parent)
      const root = nodeWithParent.filter(d => d.parent === null)

      return root.map(getNodeHtml).join('')
    }

    const html = createTree(allConnection)
    document.getElementById('all_connection_tree').innerHTML = html

  </script>
{% endblock %}