{% extends "base_definitions.html" %}
{% load static %}

{% block maincontent %}
{{all_possible_state | json_script:'all_possible_state'}}
{{all_authority | json_script:'all_authority'}}

    <!-- Right Overview -->
    <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
        <div class="possible_state card card-body system_overview border-gray">
            <div class="row">
                <!-- Equipment Details table -->
                <h5 class="card-title">Defined Equipment and Connection States</h5>
                <table class="table table-bordered text-center" id="possible_state_table">
                    <thead style="background-color: #000; color: white; border: solid 1px;">
                        <tr>
                            <th scope="col" style="display: none;">id</th>
                            <th scope="col" >Label</th>
                            <th scope="col">Description</th>
                            <th scope="col">Equipment State</th>
                            <th scope="col">Connection State</th>
                            <th scope="col">Authority Label</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border: solid 1px">
                            <td style="display: none;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table><!-- End Equipment Details table -->
                <!-- Buttons Section -->
                <div class="row mt-3 p-2 pl-4" style="float: right;">
                    <div class="col-md-2">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#resourcegroupmodal">
                        Add
                    </button>
                    </div>
                    <div class="col-md-2">
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#resourcegroupmodal">
                        Update
                    </button>
                    </div>
                    <div class="col-md-2">
                    <button type="button" id="btn_equipment_delete" class="btn btn-danger">
                        Delete
                    </button>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <!-- Equipment Details table -->
                <h5 class="card-title">State Transition Authorities</h5>
                <table class="table table-bordered text-center" id="authority_table">
                    <thead style="background-color: #000; color: white; border: solid 1px;">
                        <tr>
                            <th scope="col" style="display: none;">
                            <th scope="col" class="text-center">Label</th>
                            <th scope="col" class="text-center">Description</th>
                            <th scope="col" class="text-center">Comment</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border: solid 1px">
                            <td style="display: none;"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                        </tr>
                    </tbody>
                </table><!-- End Equipment Details table -->
                 <!-- Buttons Section -->
                 <div class="row mt-3 p-2 pl-4" style="float: right;">
                    <div class="col-md-2">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#resourcegroupmodal">
                        Add
                    </button>
                    </div>
                    <div class="col-md-2">
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#resourcegroupmodal">
                        Update
                    </button>
                    </div>
                    <div class="col-md-2">
                    <button type="button" id="btn_equipment_delete" class="btn btn-danger">
                        Delete
                    </button>
                    </div>
                    
                </div>
                <!-- End Buttons Section -->
            </div>
        </div>
    </div><!-- End Right Overview -->

{% endblock %}