{% extends "base_definitions.html" %}
{% load static %}

{% block maincontent %}

    <!-- Right Overview -->
    <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
    <div class="card card-body system_overview border-gray">
        <!-- System Settings Details table -->
        <h5 class="card-title">Equipment Type Purchasing Details</h5>
        <table class="display nowrap custom_datatable1">
        <thead>
            <tr>
            <th>Label</th>
            <th>Value</th>
            <th>Comment</th>
            <th>Last Modified</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>label1</td>
            <td>value1</td>
            <td>comment1</td>
            <td>2023-05-01</td>
            </tr>
            <tr>
            <td>label2</td>
            <td>value2</td>
            <td>comment2</td>
            <td>2023-05-01</td>
            </tr>
            <tr>
            <td>label3</td>
            <td>value3</td>
            <td>comment3</td>
            <td>2023-05-01</td>
            </tr>
        </tbody>
        </table><!-- End System Settings Details table -->

    </div>
    </div><!-- End Right Overview -->

{% endblock %}