{% extends "base_definitions.html" %}
{% load static %}

{% block maincontent %}
{{all_attributeClass | json_script:'all_attributeClass'}}
    <!-- Right Overview -->
    <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
        <div class="attribute_class_page card card-body system_overview border-gray">
            <div class="row">
                <div class="col-xxl-3 col-lg-3 col-md-6 p-0">
                    <div class="card info-card left_object_hierarchy border-gray">
                      <div class="treeview-animated border mx-2 my-2">
                        <h6 class="pt-3 pl-3">Attribute Class</h6>
                        <hr>
                        <ul class="treeview-animated-list mb-3" id="attribute_class_tree">
                          
                        </ul>
                      </div>  
                    </div>
                </div> 
                <!-- End Left Object Hierarchy -->
                <!-- right Overview -->
                <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
                <div class="card card-body right_overview border-gray">
                    <!-- Equipments Form -->
                    <form class="row g-3">
                    
                    <h5 class="card-title nav-tabs-bordered">Attribute Class Detail</h5>
                    <input style="display: none;" id="attribute_class_id" value=""></input>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Label:</label>
                        <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Label" value="" id="attribute_class_label">
                        </div>
                    </div>
                    
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Description:</label>
                        <div class="col-md-8">
                        <textarea class="form-control" placeholder="Description" style="height: 60px;" id="attribute_class_description"></textarea>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Comment:</label>
                        <div class="col-md-8">
                        <textarea class="form-control" placeholder="Comment" style="height: 60px;" id="attribute_class_comment"></textarea>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-6">
                            <div class="form-check form-switch">
                                <input class="form-check-input form-control" type="checkbox" id="attribute_class_used" readonly>
                                <label class="form-check-label">Used</label>
                            </div>
                        </div>  
                    </div>
                    <div class="row mt-1 p-2 pl-4" style="float: right;">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-success" id="btnAddAttributeClass" data-bs-toggle="modal" data-bs-target="#AttributeClassModal">
                                Add
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="btnUpdateAttributeClass" class="btn btn-info">
                                Update
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="btnRemoveAttributeClass" class="btn btn-danger">
                                Delete
                            </button>
                        </div>
                        
                    </div>
                    </form><!-- End Equipments Form -->

                </div>
                </div><!-- End right Overview -->
            </div>
           
        </div>
    </div><!-- End Right Overview -->
    <div class="modal fade" id="AttributeClassModal" tabindex="-1" aria-labelledby="AttributeClassModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="AttributeClassModalLabel">Add Attribute Class</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mt-1">
                    <label class="col-md-4 col-form-label text-secondary">Label:</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="Label" value="" id="adding_attribute_class_label" required>
                    </div>
                </div>
                <div class="row mt-1">
                    <label class="col-md-4 col-form-label text-secondary">Description:</label>
                    <div class="col-md-7">
                        <textarea class="form-control" placeholder="Description" style="height: 60px;" id="adding_attribute_class_description"></textarea>
                    </div>
                </div>
                <div class="row mt-1">
                    <label class="col-md-4 col-form-label text-secondary">Comment:</label>
                    <div class="col-md-7">
                    <textarea class="form-control" placeholder="comment"  id="adding_attribute_class_comment"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary"  >Save</button>
            </div>
          </div>
        </div>
    </div>
    <script>
        all_attributeClass = JSON.parse(document.getElementById('all_attributeClass').textContent)
        
        var html = ''
        
        all_attributeClass.forEach(n => {
                html += '<li class="treeview-li"><div class="treeview-animated-element treeview-title" data-attributeClassId="'+ n.attribute_class_id + '"> \
                ' + n.attribute_class_label + '  (' + n.attribute_class_description +')</li>'
        });
    
        document.getElementById('attribute_class_tree').innerHTML = html
    </script>

{% endblock %}