{% extends "base_definitions.html" %}
{% load static %}

{% block maincontent %}
{{all_equipment_types | json_script:'all_equipment_types'}}
{{all_resources | json_script:'all_resources'}}
{{all_interfaces | json_script:'all_interfaces'}}

    <!-- Right Overview -->
    <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
        <div class="equipment_type_page card card-body system_overview border-gray">
            <div class="row">
                <div class="col-xxl-3 col-lg-3 col-md-6 p-0">
                    <div class="card info-card left_object_hierarchy border-gray">
                      <div class="treeview-animated border mx-2 my-2">
                        <h6 class="pt-3 pl-3">Equipments Types</h6>
                        <hr>
                        <ul class="treeview-animated-list mb-3" id="all_equipment_types_tree">
                          
                        </ul>
                      </div>  
                    </div>
                </div> 
                <!-- End Left Object Hierarchy -->
                <!-- right Overview -->
                <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
                    <div class="card card-body right_overview border-gray">
                        <!-- Equipments Form -->
                        <form class="row g-3">
                        
                        <h5 class="card-title nav-tabs-bordered">Equipment Types Detail</h5>
                        <input style="display: none;" id="equipment_type_id" value=""></input>
                        <div class="row mt-1">
                            <label class="col-md-3 col-form-label text-secondary">Label:</label>
                            <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Label" value="" id="equipment_type_label" readonly>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <label class="col-md-3 col-form-label text-secondary">Parent Path:</label>
                            <div class="col-md-8">
                            <select class="form-select" id="equipment_type_parent_path">
                                
                            </select>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <label class="col-md-3 col-form-label text-secondary">Description:</label>
                            <div class="col-md-8">
                            <textarea class="form-control" placeholder="Description" style="height: 60px;" id="equipment_type_description"></textarea>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <label class="col-md-3 col-form-label text-secondary">Modifier:</label>
                            <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="modifier" value="" id="equipment_type_modifier" >
                            </div>
                        </div>
                        <div class="row mt-1">
                            <label class="col-md-3 col-form-label text-secondary">Manufacturer:</label>
                            <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="manufacturer" value="" id="equipment_type_manufacturer" >
                            </div>
                        </div>
                        <div class="row mt-1">
                            <label class="col-md-3 col-form-label text-secondary">Model:</label>
                            <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="model" value="" id="equipment_type_model" >
                            </div>
                        </div>
                        <div class="row mt-1">
                            <label class="col-md-3 col-form-label text-secondary">Comment:</label>
                            <div class="col-md-8">
                            <textarea class="form-control" placeholder="Comment" style="height: 60px;" id="equipment_type_comment"></textarea>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-7 col-form-label text-secondary">Is Approved</label>
                                    <div class="col-md-5 form-check form-switch pt-2">
                                      <input class="form-check-input form-control" type="checkbox" id="equipment_type_is_approved">
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="row mt-1">
                            <label class="col-md-3 col-form-label text-secondary">Last modified:</label>
                            <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Last modified" value="" id="equipment_type_last_modified" readonly>
                            </div>
                        </div>
                        <div class="row mt-3 p-2 pl-4">
                            <div class="col-md-4">
                            <button type="button" class="btn btn-success" id="btn_equipment_type_add_same" data-bs-toggle="modal" data-bs-target="#equipmentTypeModal">
                                Add Same
                            </button>
                            </div>
                            <div class="col-md-4">
                            <button type="button" class="btn btn-info" id="btn_equipment_type_add_child" data-bs-toggle="modal" data-bs-target="#equipmentTypeModal">
                                Add Child
                            </button>
                            </div>
                            <div class="col-md-4">
                            <button type="button" id="btn_equipment_type_delete" class="btn btn-danger">
                                Delete
                            </button>
                            </div>
                            
                        </div>
                        </form><!-- End Equipments Form -->
        
                        <hr/>
        
                        <div class="row">
                            <!-- Equipment Details table -->
                            <h5 class="card-title">Associated Resources</h5>
                            <input type="text" style="display: none;" id="selectedResourceId">
                            <table class="display nowrap custom_datatable1" id="equipment_type_resource_table">
                                <thead style="background-color: #000; color: white; border: solid 1px;">
                                    <tr>
                                        <th style="display: none;">type_id</th>
                                        <th style="display: none;">resouce_id</th>
                                        <th scope="col" >Modifer</th>
                                        <th scope="col">Description</th>
                                        <th scope="col" >comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table><!-- End Equipment Details table -->

                            <div class="row mt-1 p-2 pl-4">
                              <div class="col-md-4">
                                <button type="button" class="btn btn-success" id="btn_add_equipment_type_resource" data-bs-toggle="modal" data-bs-target="#equipmentTypeResourceModal">
                                    Add Resource
                                </button>
                              </div>
                              <div class="col-md-4">
                              <button type="button" id="btn_delete_equipment_type_resource" class="btn btn-danger">
                                  Delete Resource
                              </button>
                              </div>
                            </div>

                        </div>
                        <div class="row">
                            <!-- Equipment Details table -->
                            <h5 class="card-title">Associated Interfaces</h5>
                            <input type="text" style="display: none;" id="selectedInterfaceId">
                            <table class="display nowrap custom_datatable1" id="equipment_type_interface_table">
                                <thead style="background-color: #000; color: white; border: solid 1px;">
                                    <tr>
                                      <th style="display: none;">interface_id</th>
                                      <th scope="col" width="30%">Identifer</th>
                                      <th scope="col" width="15%">Description</th>
                                      <th scope="col" >Interface Class label</th>
                                      <th scope="col" >comment</th>
                                      <th scope="col" >Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table><!-- End Equipment Details table -->
                            <div class="row mt-1 p-2 pl-4">
                              <div class="col-md-4">
                                <button type="button" class="btn btn-success" id="btn_add_equipment_type_interface" data-bs-toggle="modal" data-bs-target="#equipmentTypeInterfaceModal">
                                    Add Interface
                                </button>
                              </div>
                              <div class="col-md-4">
                              <button type="button" id="btn_delete_equipment_type_interface" class="btn btn-danger">
                                  Delete Interface
                              </button>
                              </div>
                            </div>

                        </div>
                        <!-- Buttons Section -->
                        <div class="col-xxl-12 col-lg-12 col-md-12">
                            <div class="card-body buttons_section">
                            <button type="button" class="btn btn-outline-secondary mr-3">Cancel</button>
                            <button type="button" class="btn btn-outline-primary" id="equipmentTypeUpdateCommitBtn">Commit</button>
                            </div>
                        </div><!-- End Buttons Section -->
                    </div>
                </div><!-- End right Overview -->
            </div>
           

        </div>
    </div><!-- End Right Overview -->
    <div class="modal fade" id="equipmentTypeModal" tabindex="-1" aria-labelledby="equipmentTypeModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="equipmentTypeModalLabel">Add Equipment Type</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Label:</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="Equipment Type Label" value="" id="adding_equipment_type_label" required>
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Parent Path:</label>
                <div class="col-md-7">
                  <select class="form-select" id="adding_equipment_type_parent_path">
                    
                  </select>
                </div>
              </div>
              
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Description:</label>
                <div class="col-md-7">
                  <textarea class="form-control" placeholder="Description" style="height: 60px;" id="adding_equipment_type_description"></textarea>
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Modifier:</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="Equipment Type Modifier" value="" id="adding_equipment_type_modifier">
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Manufacturer:</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="Manufacturer" value="" id="adding_equipment_type_manufacturer">
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Model:</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="Equipment Type Model" value="" id="adding_equipment_type_model">
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Comment:</label>
                <div class="col-md-7">
                  <textarea class="form-control" placeholder="comment" style="height: 60px;" id="adding_equipment_type_comment"></textarea>
                </div>
              </div>
              
              <div class="row mt-1">
                  <label class="col-md-4 col-form-label text-secondary">Approved</label>
                  <div class="col-md-7 form-check form-switch ml-3 pt-2">
                    <input class="form-check-input form-control" type="checkbox" id="adding_equipment_type_approved">
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary"  >Save</button>
            </div>
          </div>
        </div>
      </div>

    <div class="modal fade" id="equipmentTypeResourceModal" tabindex="-1" aria-labelledby="equipmentTypeResourceModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="equipmentTypeResourceModalLabel">Add Equipment Type Resource</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Equipment Type:</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="Equipment Type Label" value="" id="selectedEquipmentTypeLabel" readonly>
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Resources:</label>
                <div class="col-md-7">
                  <select class="form-select" id="addingEquipmentTypeResource">
                    
                  </select>
                </div>
              </div>
              
              
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Comment:</label>
                <div class="col-md-7">
                  <textarea class="form-control" placeholder="comment" style="height: 60px;" id="addingEquipmentTypeResourceComment"></textarea>
                </div>
              </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary"  >Save</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="equipmentTypeInterfaceModal" tabindex="-1" aria-labelledby="equipmentTypeInterfaceModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="equipmentTypeInterfaceModalLabel">Add Equipment Type Interface</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row mt-1">
              <label class="col-md-4 col-form-label text-secondary">Equipment Type:</label>
              <div class="col-md-7">
                <input type="text" class="form-control" placeholder="Equipment Type Label" value="" id="selectedEquipmentTypeLabel2" readonly>
              </div>
            </div>
            <div class="row mt-1">
              <label class="col-md-4 col-form-label text-secondary">Equipment Type Resource:</label>
              <div class="col-md-7">
                <input type="text" class="form-control" placeholder="Equipment Type Resource" value="" id="selectedEquipmentTypeResource" readonly>
              </div>
            </div>
            <div class="row mt-1">
              <label class="col-md-4 col-form-label text-secondary">Interface:</label>
              <div class="col-md-7">
                <select class="form-select" id="addingEquipmentTypeInterface">
                  
                </select>
              </div>
            </div>
            <div class="row mt-1">
              <label class="col-md-5 col-form-label text-secondary">Is Active</label>
              <div class="col-md-6 form-check form-switch pt-2">
                <input class="form-check-input form-control" type="checkbox" id="addingEquipmentTypeInterfaceActive">
              </div>
          </div>
            
            
            <div class="row mt-1">
              <label class="col-md-4 col-form-label text-secondary">Comment:</label>
              <div class="col-md-7">
                <textarea class="form-control" placeholder="comment" style="height: 60px;" id="addingEquipmentTypeInterfaceComment"></textarea>
              </div>
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"  >Save</button>
          </div>
        </div>
      </div>
  </div>

    <script type="text/javascript">
        
        allEquipmentTypes = JSON.parse(document.getElementById('all_equipment_types').textContent)
        
        function createTree(data) {
          const nodeWithParent = []
          
          //make the path as string from list
          data.forEach(element => {
            if(element.path){
                path = element.path.join('.')
                element.path = path        
            }else{
                element.path = ''
            }
            
          })
    
          //Find the parent for each element
          data.forEach(element => {
            const parent = element.path.includes('.')? element.path.substr(0, element.path.lastIndexOf('.')):null
            nodeWithParent.push({...element, parent})
          });
    
          //Recursive function to create HTML out of node
          function getNodeHtml(n) {
            let html = ''
            const children = nodeWithParent.filter(d => d.parent === n.path)
                      
            if(children.length > 0) {
              html += '<li class="treeview-animated-items treeview-li"> \
                          <a class="closed"> \
                            <i class="fas fa-angle-right"></i> \
                            <span class="ml-1 treeview-title" data-typeid="'+ n.id +'" data-typepath="'+ n.path +'">'+ n.label + '  (' + n.description + ')</span> \
                          </a> \
                          <ul class="nested">' 
                + children.map( getNodeHtml).join('')
                + '</ul></li>'
            }
            else{
              html += '<li class="treeview-li"><div class="treeview-animated-element treeview-title" data-typeid="'+n.id+'" data-typepath="'+ n.path + '"> \
              '+n.label + '  (' + n.description +')</li>'
            }
            return html
          }
    
          // Get all root nodes (without parent)
          const root = nodeWithParent.filter(d => d.parent === null)
    
          return root.map(getNodeHtml).join('')
        }
    
        const html = createTree(allEquipmentTypes)
        document.getElementById('all_equipment_types_tree').innerHTML = html
    
      </script>
{% endblock %}