{% extends "base_definitions.html" %}
{% load static %}

{% block maincontent %}
{{resourceProperty | json_script:'resourceProperty'}}
{{all_datatype | json_script:'all_datatype'}}
{{all_attributeClass | json_script:'all_attributeClass'}}
    <!-- Right Overview -->
    <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
        <div class="equipment_property_page card card-body system_overview border-gray">
            <div class="row">
                <div class="col-xxl-3 col-lg-3 col-md-6 p-0">
                    <div class="card info-card left_object_hierarchy border-gray">
                      <div class="treeview-animated border mx-2 my-2">
                        <h6 class="pt-3 pl-3">Properties</h6>
                        <hr>
                        <ul class="treeview-animated-list mb-3" id="all_resource_property_tree">
                          
                        </ul>
                      </div>  
                    </div>
                </div> 
                <!-- End Left Object Hierarchy -->
                <!-- right Overview -->
                <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
                <div class="card card-body right_overview border-gray">
                    <!-- Equipments Form -->
                    <form class="row g-3">
                    
                    <h5 class="card-title nav-tabs-bordered">Property Detail</h5>
                    <input style="display: none;" id="resource_property_id" value=""></input>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Modifier:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Modifier" value="" id="resource_property_modifier">
                        </div>
                    </div>
                    
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Description:</label>
                        <div class="col-md-8">
                        <textarea class="form-control" placeholder="Description" style="height: 60px;" id="resource_property_description"></textarea>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Default Value:</label>
                        <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="default value" value="" id="resource_property_default_value">
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Default Datatype Label:</label>
                        <div class="col-md-8">
                        <select class="form-select" id="resource_property_default_datatype">
                            
                        </select>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Comment:</label>
                        <div class="col-md-8">
                        <textarea class="form-control" placeholder="Comment" style="height: 60px;" id="resource_property_comment"></textarea>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-6">
                            <div class="form-check form-switch">
                                <input class="form-check-input form-control" type="checkbox" id="resource_property_is_reportable">
                                <label class="form-check-label">Reportable</label>
                            </div>
                        </div>  
                    </div>
                    
                    
                    <div class="row mt-1">
                        <div class="col-md-6">
                            <div class="form-check form-switch">
                                <input class="form-check-input form-control" type="checkbox" id="resource_property_used" readonly>
                                <label class="form-check-label">Used</label>
                            </div>
                        </div>  
                    </div>
                    <div class="row mt-1 p-2 pl-4" style="float: right;">
                        <div class="col-md-2">
                        <button type="button" class="btn btn-success" id="btnEquipmentPropertyAdd" data-bs-toggle="modal" data-bs-target="#equipmentPropertyModal">
                            Add
                        </button>
                        </div>
                        <div class="col-md-2">
                        <button type="button" id="btnEquipmentPropertyUpdate" class="btn btn-info">
                            Update
                        </button>
                        </div>
                        <div class="col-md-2">
                        <button type="button" id="btn_equipment_property_delete" class="btn btn-danger">
                            Delete
                        </button>
                        </div>
                        
                    </div>
                    </form><!-- End Equipments Form -->
    
                    <hr/>
    
                    <div class="row">
                        <!-- Equipment Details table -->
                        <input type="text" style="display: none;" id="selectedPropertyId" />
                        <h5 class="card-title">Resources using this property</h5>
                        <table class="table display nowrap custom_datatable1" id="resource_property_table">
                            <thead style="background-color: #000; color: white; border: solid 1px;">
                                <tr>
                                    <th style="display: none;">id</th>
                                    <th scope="col" >Resource Modifier</th>
                                    <th scope="col">Resource Description</th>
                                    <th scope="col" >Datatype Label</th>
                                    <th scope="col" >Datatype Description</th>
                                    <th scope="col">Value</th>
                                    <th scope="col" >comment</th>
                                </tr>
                            </thead>
                        </table><!-- End Equipment Details table -->

                    </div>
                    
                    <!-- Buttons Section -->
                    <div class="col-xxl-12 col-lg-12 col-md-12">
                        <div class="card-body buttons_section">
                        <button type="button" class="btn btn-outline-secondary mr-3">Cancel</button>
                        <button type="button" class="btn btn-outline-primary" id='commit'>Commit</button>
                        </div>
                    </div><!-- End Buttons Section -->
                </div>
                </div><!-- End right Overview -->
            </div>
           
        </div>
    </div><!-- End Right Overview -->
    <div class="modal fade" id="equipmentPropertyModal" tabindex="-1" aria-labelledby="equipmentPropertyModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="equipmentPropertyModalLabel">Add Equipment Property</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Modifier:</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="Modifier" value="" id="adding_property_modifier" required>
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Description:</label>
                <div class="col-md-7">
                  <textarea class="form-control" placeholder="Description" style="height: 60px;" id="adding_property_description"></textarea>
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Default Value:</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="Value" value="" id="adding_property_default_value">
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Default Datatype Label:</label>
                <div class="col-md-7">
                    <select class="form-select" id="adding_property_default_datatype_label">
                    
                    </select>
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Comment:</label>
                <div class="col-md-7">
                  <textarea class="form-control" placeholder="comment"  id="adding_property_comment"></textarea>
                </div>
              </div>

              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Reportable</label>
                    <div class="col-md-7 form-check form-switch ml-3 pt-2">
                        <input class="form-check-input form-control" type="checkbox" id="adding_property_is_reportable">
                    </div>
                </div>
                <div class="row mt-1">
                    <label class="col-md-4 col-form-label text-secondary">Attribute Class:</label>
                    <div class="col-md-7">
                        <select class="form-select" id="adding_property_attribute_class">
                        
                        </select>
                    </div>
                    </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary"  >Save</button>
            </div>
          </div>
        </div>
      </div>
    <script>
        resourceProperty = JSON.parse(document.getElementById('resourceProperty').textContent)
        var html = ''
        var resource_id_list = []
        resourceProperty.forEach(n => {
            if(!resource_id_list.includes(n.id)){
                resource_id_list.push(n.id)
                html += '<li class="treeview-li"><div class="treeview-animated-element treeview-title" data-propertyId="'+ n.id + '"> \
                ' + n.modifier + '  (' + n.description +')</li>'
            }
        });
    
        document.getElementById('all_resource_property_tree').innerHTML = html
    </script>
    
{% endblock %}