{% extends "base_definitions.html" %}
{% load static %}

{% block maincontent %}
{{all_interfaces | json_script:'all_interfaces'}}
{{all_interface_classes | json_script:'all_interface_classes'}}
    <!-- Right Overview -->
    <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
        <div class="equipment_interface_page card card-body system_overview border-gray">
            <div class="row">
                <div class="col-xxl-3 col-lg-3 col-md-6 p-0">
                    <div class="card info-card left_object_hierarchy border-gray">
                      <div class="treeview-animated border mx-2 my-2">
                        <h6 class="pt-3 pl-3">Interfaces</h6>
                        <hr>
                        <ul class="treeview-animated-list mb-3" id="equipment_interface_tree">
                          
                        </ul>
                      </div>  
                    </div>
                </div> 
                <!-- End Left Object Hierarchy -->
                <!-- right Overview -->
                <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
                <div class="card card-body right_overview border-gray">
                    <!-- Equipments Form -->
                    <form class="row g-3">
                    
                    <h5 class="card-title nav-tabs-bordered">Interface Detail</h5>
                    <input style="display: none;" id="equipment_interface_id" value=""></input>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Identifer:</label>
                        <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Identifer" value="" id="equipment_interface_identifier">
                        </div>
                    </div>
                    
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Description:</label>
                        <div class="col-md-8">
                        <textarea class="form-control" placeholder="Description" style="height: 60px;" id="equipment_interface_description"></textarea>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Interface Class Label :</label>
                        <div class="col-md-8">
                        <select class="form-select" id="equipment_interface_interface_class_label">
                            
                        </select>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Connecting Class Label :</label>
                        <div class="col-md-8">
                        <select class="form-select" id="equipment_interface_connecting_class_label">
                            
                        </select>
                        </div>
                    </div>
                   
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Comment:</label>
                        <div class="col-md-8">
                        <textarea class="form-control" placeholder="Comment" style="height: 60px;" id="equipment_interface_comment"></textarea>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-6">
                            <div class="form-check form-switch">
                                <input class="form-check-input form-control" type="checkbox" id="equipment_interface_is_intermediate">
                                <label class="form-check-label">Intermediate</label>
                            </div>
                        </div>  
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-6">
                            <div class="form-check form-switch">
                                <input class="form-check-input form-control" type="checkbox" id="equipment_interface_used" readonly>
                                <label class="form-check-label">Used</label>
                            </div>
                        </div>  
                    </div>
                    <div class="row mt-1 p-2 pl-4" style="float: right;">
                        <div class="col-md-2">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" id="btnAddEquipmentInterface" data-bs-target="#equipmentInterfaceModal">
                            Add
                        </button>
                        </div>
                        <div class="col-md-2">
                        <button type="button" class="btn btn-info" id="btnUpdateEquipmentInterface">
                            Update
                        </button>
                        </div>
                        <div class="col-md-2">
                        <button type="button" id="btnRemoveEquipmentInterface" class="btn btn-danger">
                            Delete
                        </button>
                        </div>
                        
                    </div>
                    </form><!-- End Equipments Form -->

                </div>
                </div><!-- End right Overview -->
            </div>
           
        </div>
    </div><!-- End Right Overview -->
    <div class="modal fade" id="equipmentInterfaceModal" tabindex="-1" aria-labelledby="equipmentInterfaceModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="equipmentInterfaceModalLabel">Add Equipment Interface</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Identifier:</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="Identifier" value="" id="adding_interface_identifier" required>
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Description:</label>
                <div class="col-md-7">
                  <textarea class="form-control" placeholder="Description" style="height: 60px;" id="adding_interface_description"></textarea>
                </div>
              </div>
              
                <div class="row mt-1">
                    <label class="col-md-4 col-form-label text-secondary">Interface Class Label:</label>
                    <div class="col-md-7">
                        <select class="form-select" id="adding_interface_class_label">
                        
                        </select>
                    </div>
                </div>
                <div class="row mt-1">
                    <label class="col-md-4 col-form-label text-secondary">Connecting Class Label:</label>
                    <div class="col-md-7">
                        <select class="form-select" id="adding_interface_connecting_class_label">
                        
                        </select>
                    </div>
                </div>
                <div class="row mt-1">
                    <label class="col-md-4 col-form-label text-secondary">Comment:</label>
                    <div class="col-md-7">
                    <textarea class="form-control" placeholder="comment"  id="adding_interface_comment"></textarea>
                    </div>
                </div>

                <div class="row mt-1">
                    <label class="col-md-4 col-form-label text-secondary">Intermediate</label>
                    <div class="col-md-7 form-check form-switch ml-3 pt-2">
                        <input class="form-check-input form-control" type="checkbox" id="adding_interface_is_intermediate">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary"  >Save</button>
            </div>
          </div>
        </div>
    </div>
    <script>
        all_interfaces = JSON.parse(document.getElementById('all_interfaces').textContent)
        all_interface_classes = JSON.parse(document.getElementById('all_interface_classes').textContent)

        let interfaceClasesHavingInterface = all_interface_classes.filter( element => {
            itcId = element.id
            if(all_interfaces.find(element => element.interface_class_id == itcId))
                return true
            else
                return false
        })

        function createInterfaceTree(all_interfaces, interfaceClasesHavingInterface) {
            let html = ''
            var interface_id_list = []
            interfaceClasesHavingInterface.forEach(element => {
                html += '<li class="treeview-animated-items treeview-li"> \
                          <a class="closed"> \
                            <i class="fas fa-angle-right"></i> \
                            <span class="ml-1 treeview-title" data-interfaceId="">'+ element.label + '  (' + element.description + ')</span> \
                          </a> \
                          <ul class="nested">' 
                itcId = element.id
                interfacesByClassID = all_interfaces.filter(interface => interface.interface_class_id == itcId)
                interfacesByClassID.forEach( n => {
                    if(!interface_id_list.includes(n.id)){
                        interface_id_list.push(n.id)
                        html += '<li class="treeview-li"><div class="treeview-animated-element treeview-title" data-interfaceId="'+ n.id + '"> \
                        ' + n.identifier + '  (' + n.description +')</li>'
                    }
                })
                html += '</ul></li>'
            })
              
            return html
        }
    
        let html = createInterfaceTree(all_interfaces, interfaceClasesHavingInterface)
        document.getElementById('equipment_interface_tree').innerHTML = html
    </script>
{% endblock %}