{% extends "base_definitions.html" %}
{% load static %}

{% block maincontent %}
{{all_connection_types | json_script:'all_connection_types'}}
{{user.username | json_script:'currentUserName'}}

    <!-- Right Overview -->
    <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
        <div class="connection_type_page card card-body system_overview border-gray">
            <div class="row">
                <div class="col-xxl-3 col-lg-3 col-md-6 p-0">
                    <div class="card info-card left_object_hierarchy border-gray">
                      <div class="treeview-animated border mx-2 my-2">
                        <h6 class="pt-3 pl-3">Connection Type</h6>
                        <hr>
                        <ul class="treeview-animated-list mb-3" id="connection_type_tree">
                          
                        </ul>
                      </div>  
                    </div>
                </div> 
                <!-- End Left Object Hierarchy -->
                <!-- right Overview -->
                <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
                <div class="card card-body right_overview border-gray">
                    <!-- connections Form -->
                    <form class="row g-3">
                    
                    <h5 class="card-title nav-tabs-bordered">Connection Type Detail</h5>
                    <input style="display: none;" id="connection_type_id" value=""></input>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Label:</label>
                        <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Label" value="" id="connection_type_label">
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Modifier:</label>
                        <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Modifier" value="" id="connection_type_modifier">
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Parent Path:</label>
                        <div class="col-md-8">
                        <select class="form-select" id="connection_type_parent_path">
                            
                        </select>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Description:</label>
                        <div class="col-md-8">
                        <textarea class="form-control" placeholder="Description" style="height: 60px;" id="connection_type_description"></textarea>
                        </div>
                    </div>
                 
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Manufacturer:</label>
                        <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="manufacturer" value="" id="connection_type_manufacturer" >
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Model:</label>
                        <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="model" value="" id="connection_type_model" >
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col-md-3 col-form-label text-secondary">Comment:</label>
                        <div class="col-md-8">
                        <textarea class="form-control" placeholder="Comment" style="height: 60px;" id="connection_type_comment"></textarea>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-6">
                            <div class="form-check form-switch">
                                <input class="form-check-input form-control" type="checkbox" id="connection_type_is_approved">
                                <label class="form-check-label">Is Approved?</label>
                            </div>
                        </div>  
                    </div>
                    
                    <div class="row mt-1">
                        <div class="col-md-6">
                            <div class="form-check form-switch">
                                <input class="form-check-input form-control" type="checkbox" id="connection_type_used" readonly>
                                <label class="form-check-label">Used</label>
                            </div>
                        </div>  
                    </div>
                    <div class="row mt-1 p-2 pl-4" style="float: right;">
                        <div class="col-md-2">
                        <button type="button" class="btn btn-success" id="btn_add_connection_type" data-bs-toggle="modal" data-bs-target="#connectionTypeModal">
                            Add
                        </button>
                        </div>
                        <div class="col-md-2">
                        <button type="button" id="btn_update_connection_type" class="btn btn-info">
                            Update
                        </button>
                        </div>
                        <div class="col-md-2">
                        <button type="button" id="btn_remove_connection_type" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#connectionTypeRemoveModal" >
                            Delete
                        </button>
                        </div>
                        
                    </div>
                    </form><!-- End connections Form -->

                </div>
                </div><!-- End right Overview -->
            </div>
           
        </div>
    </div><!-- End Right Overview -->
    <div class="modal fade" id="connectionTypeModal" tabindex="-1" aria-labelledby="connectionTypeModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="connectionTypeModalLabel">Add connection Type</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Label:</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="Label" value="" id="adding_connection_type_label" required>
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Modifier:</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="Modifier" value="" id="adding_connection_type_modifier">
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Parent Path:</label>
                <div class="col-md-7">
                  <select class="form-select" id="adding_connection_type_parent_path">
                    
                  </select>
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Description:</label>
                <div class="col-md-7">
                  <textarea class="form-control" placeholder="Description" style="height: 60px;" id="adding_connection_type_description"></textarea>
                </div>
              </div>
              
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Manufacturer:</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="Manufacturer" value="" id="adding_connection_type_manufacturer">
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Model:</label>
                <div class="col-md-7">
                  <input type="text" class="form-control" placeholder="Model" value="" id="adding_connection_type_model">
                </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Comment:</label>
                <div class="col-md-7">
                  <textarea class="form-control" placeholder="comment" style="height: 60px;" id="adding_connection_type_comment"></textarea>
                </div>
              </div>
              
              <div class="row mt-1">
                  <label class="col-md-4 col-form-label text-secondary">Approved</label>
                  <div class="col-md-7 form-check form-switch ml-3 pt-2">
                    <input class="form-check-input form-control" type="checkbox" id="adding_connection_type_approved">
                  </div>
              </div>
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Reason:</label>
                <div class="col-md-7">
                  <textarea class="form-control" placeholder="reason" style="height: 60px;" id="adding_connection_type_reason"></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary"  >Save</button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="connectionTypeRemoveModal" tabindex="-1" aria-labelledby="connectionTypeRemoveModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="connectionTypeRemoveModalLabel">Remove Conecction Type</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Reason:</label>
                <div class="col-md-7">
                  <textarea class="form-control" placeholder="Remove Reason" value="" id="remove_connection_type_reason" name="remove_connection_type_reason" required ></textarea>
                </div>
              </div>
             
              <div class="row mt-1">
                <label class="col-md-4 col-form-label text-secondary">Option:</label>
                <div class="col-md-7">
                  <select class="form-select" id="remove_connection_type_option">
                    <option value="orphan">Orphan</option>
                    <option value="delete">Delete</option>
                  </select>
                </div>
              </div>
             
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button  class="btn btn-primary" type="button" >remove</button>
          </div>
        
        </div>
      </div>
    </div>
    <script type="text/javascript">
        
        all_connection_types = JSON.parse(document.getElementById('all_connection_types').textContent)
        
        function createTree(data) {
          const nodeWithParent = []
          
          //make the path as string from list
          data.forEach(element => {
            if(element.path){
                path = element.path.join('.')
                element.path = path   
            }else{
                element.path = ''
            }
                
          })
    
          //Find the parent for each element
          data.forEach(element => {
            const parent = element.path.includes('.')? element.path.substr(0, element.path.lastIndexOf('.')):null
            nodeWithParent.push({...element, parent})
          });
    
          //Recursive function to create HTML out of node
          function getNodeHtml(n) {
            let html = ''
            const children = nodeWithParent.filter(d => d.parent === n.path)
                      
            if(children.length > 0) {
              html += '<li class="treeview-animated-items treeview-li"> \
                          <a class="closed"> \
                            <i class="fas fa-angle-right"></i> \
                            <span class="ml-1 treeview-title" data-typeid="'+ n.id +'" data-typepath="'+ n.path +'">'+ n.label + '  (' + n.description + ')</span> \
                          </a> \
                          <ul class="nested">' 
                + children.map( getNodeHtml).join('')
                + '</ul></li>'
            }
            else{
              html += '<li class="treeview-li"><div class="treeview-animated-element treeview-title" data-typeid="'+n.id+'" data-typepath="'+ n.path + '"> \
              '+n.label + '  (' + n.description +')</li>'
            }
            return html
          }
    
          // Get all root nodes (without parent)
          const root = nodeWithParent.filter(d => d.parent === null)
    
          return root.map(getNodeHtml).join('')
        }
    
        const html = createTree(all_connection_types)
        document.getElementById('connection_type_tree').innerHTML = html
    
      </script>
{% endblock %}