{% extends "base.html" %}
{% load static %}

{% block content %}

{{all_equipment | json_script:'all_equipment'}}
{{all_equipment_types | json_script:'all_equipment_types'}}

<section class="section equipment">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Reports -->
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                
                <div class="row">
                  <div class="input-group mb-2 mt-3 p-0">
                    <span class="input-group-text">
                      <i class="bi bi-arrow-left-circle mr-3"></i>
                      <i class="bi bi-arrow-right-circle mr-3"></i>
                      <i class="bi bi-arrow-up-circle mr-3"></i>
                      <i class="bi bi-arrow-down-circle"></i>
                    </span>
                    <input type="text" class="form-control" id="basic-full-identifier" aria-describedby="basic-addon3" placeholder="Full identifier (description)">
                  </div>
                </div>

                <div class="equipment_page tab-content pt-2">

                  <!-- Start Equipment Tab Content -->
                  <div class="tab-pane fade show active">
                    <!-- Main Content -->
                    <div class="row">
                      <!-- Left Object Hierarchy -->
                      
                       <div class="col-xxl-3 col-lg-3 col-md-6 p-0">
                        <div class="card info-card left_object_hierarchy border-gray">
                          <div class="treeview-animated border mx-2 my-2">
                            <h6 class="pt-3 pl-3">Equipments</h6>
                            <hr>
                            <ul class="treeview-animated-list mb-3" id="all_equipment_tree">
                              
                            </ul>
                          </div>  
                        </div>
                      </div> 
                      <!-- End Left Object Hierarchy -->
                      <!-- Middle Overview -->
                      <div class="col-xxl-6 col-lg-6 col-md-8 p-0">
                        <div class="card card-body right_overview border-gray">
                          <!-- Equipments Form -->
                          <form class="row g-3">
                            
                            <h5 class="card-title nav-tabs-bordered">Equipment Detail</h5>
                            <div class="hidden" id="equipment_id"></div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Full Name:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Equipment name" value="" id="equipment_full_identifier">
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Description:</label>
                              <div class="col-md-8">
                                <textarea class="form-control" placeholder="Description" style="height: 60px;" id="equipment_description"></textarea>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Parent Path:</label>
                              <div class="col-md-8">
                                <select class="form-select" id="parent_path">
                                  
                                </select>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Location Path:</label>
                              <div class="col-md-8">
                                <select class="form-select" id="location_path">
                                  
                                </select>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Type:</label>
                              <div class="col-md-8">
                                <select class="form-select" id="all_equipment_types_select">
                                  
                                </select>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <label class="col-md-3 col-form-label text-secondary">Comment:</label>
                              <div class="col-md-8">
                                <textarea class="form-control" placeholder="Comment" style="height: 60px;" id="equipment_comment"></textarea>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <div class="col-md-6">
                                <div class="form-check form-switch">
                                  <input class="form-check-input form-control" type="checkbox" id="equipment_is_approved">
                                  <label class="form-check-label">Is Approved?</label>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <button type="button" class="btn btn-primary">
                                  <a class="nav-link" href="{% url 'definitions_equipment_types' %}">
                                    Show Equipment Type
                                  </a>
                                  
                                </button>
                              </div>
                            </div>
                            <div class="row mt-3 p-2 pl-4">
                              <div class="col-md-4">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#equipmentModal">
                                    Add Same
                                </button>
                              </div>
                              <div class="col-md-4">
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#equipmentModal">
                                    Add Child
                                </button>
                              </div>
                              <div class="col-md-4">
                                <button type="button" id="btn_equipment_delete" class="btn btn-danger">
                                    Delete
                                </button>
                              </div>
                              
                            </div>
                          </form><!-- End Equipments Form -->

                          <hr/>

                          <div class="row">
                            <div class="col-md-12">
                              <!-- Equipment Details table -->
                              <h5 class="card-title">Equipment Attributes</h5>
                              <table class="table table-bordered text-center">
                                <thead style="background-color: #000; color: white; border: solid 1px;">
                                  <tr>
                                    <th scope="col" width="30%">Resources</th>
                                    <th scope="col" width="15%">Attributes</th>
                                    <th scope="col" >Details</th>
                                  </tr>
                                </thead>
                                <tbody id="equipment_attribute">
                                    <tr style="border: solid 1px">
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                </tbody>
                              </table><!-- End Equipment Details table -->

                            </div>
                          </div>
                        </div>
                      </div><!-- End Middle Overview -->

                      <!-- Right Object Hierarchy -->
                      <div class="col-xxl-3 col-lg-3 col-md-4 p-0">
                        <div class="card info-card right_object_hierarchy border-gray">
                          <h5 class="card-title pl-3 pb-0">Included Equipments</h5>
                          <div class="child-treeview treeview-animated mt-3">
                            <ul class="treeview-animated-list" id="child_equipment_tree">
                              
                            </ul>
                          </div>
                        </div>
                          
                      </div><!-- End Right Object Hierarchy -->

                      <!-- Buttons Section -->
                      <div class="col-xxl-12 col-lg-12 col-md-12">
                        <div class="card">
                          <div class="card-body buttons_section">
                            <button type="button" class="btn btn-outline-secondary mr-3">Cancel</button>
                            <button type="button" class="btn btn-outline-primary">Commit</button>
                          </div>
                        </div>
                      </div><!-- End Buttons Section -->
                    </div><!-- End Main Content -->
                  </div>
                  <!-- // End Equipment Tab Content -->
                </div><!-- End Bordered Tabs -->
              </div>
            </div>
          </div><!-- End Reports -->
        </div>
      </div><!-- End Left side columns -->
    </div>

    <div class="modal fade" id="equipmentModal" tabindex="-1" aria-labelledby="equipmentModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="equipmentModalLabel">Add Equipment</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row mt-3">
              <label class="col-md-3 col-form-label text-secondary">Full Name:</label>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Equipment name" value="" id="adding_equipment_full_identifier">
              </div>
            </div>
            <div class="row mt-3">
              <label class="col-md-3 col-form-label text-secondary">Description:</label>
              <div class="col-md-8">
                <textarea class="form-control" placeholder="Description" style="height: 60px;" id="adding_equipment_description"></textarea>
              </div>
            </div>
            <div class="row mt-3">
              <label class="col-md-3 col-form-label text-secondary">Parent Path:</label>
              <div class="col-md-8">
                <select class="form-select" id="adding_parent_path">
                  
                </select>
              </div>
            </div>
            <div class="row mt-3">
              <label class="col-md-3 col-form-label text-secondary">Location Path:</label>
              <div class="col-md-8">
                <select class="form-select" id="adding_location_path">
                  
                </select>
              </div>
            </div>
            <div class="row mt-3">
              <label class="col-md-3 col-form-label text-secondary">Type:</label>
              <div class="col-md-8">
                <select class="form-select" id="adding_equipment_type">
                  
                </select>
              </div>
            </div>
            <div class="row mt-3">
              <label class="col-md-3 col-form-label text-secondary">Comment:</label>
              <div class="col-md-8">
                <textarea class="form-control" placeholder="Comment" style="height: 60px;" id="adding_equipment_comment"></textarea>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <div class="form-check form-switch">
                  <input class="form-check-input form-control" type="checkbox" id="adding_equipment_approved">
                  <label class="form-check-label">Approved?</label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
    allEquipment = JSON.parse(document.getElementById('all_equipment').textContent)
    allEquipmentTypes = JSON.parse(document.getElementById('all_equipment_types').textContent)

    function createTree(data) {
      const nodeWithParent = []
      
      //make the equipment_path as string from list
      data.forEach(element => {
        path = element.equipment_path.join('.')
        element.equipment_path = path        
      })

      //Find the parent for each element
      data.forEach(element => {
        const parent = element.equipment_path.includes('.')? element.equipment_path.substr(0, element.equipment_path.lastIndexOf('.')):null
        nodeWithParent.push({...element, parent})
      });

      //Recursive function to create HTML out of node
      function getNodeHtml(n) {
        let html = ''
        const children = nodeWithParent.filter(d => d.parent === n.equipment_path)
                  
        if(children.length > 0) {
          html += '<li class="treeview-animated-items treeview-li"> \
                      <a class="closed"> \
                        <i class="fas fa-angle-right"></i> \
                        <span class="ml-1 treeview-title" data-equipmentpath="'+ n.equipment_path +'">'+ n.equipment_full_identifier + '  (' + n.equipment_description + ')</span> \
                      </a> \
                      <ul class="nested">' 
            + children.map( getNodeHtml).join('')
            + '</ul></li>'
        }
        else{
          html += '<li class="treeview-li"><div class="treeview-animated-element treeview-title" data-equipmentpath="'+ n.equipment_path + '"> \
          '+n.equipment_full_identifier + '  (' + n.equipment_description +')</li>'
        }
        return html
      }

      // Get all root nodes (without parent)
      const root = nodeWithParent.filter(d => d.parent === null)

      return root.map(getNodeHtml).join('')
    }

    const html = createTree(allEquipment)
    document.getElementById('all_equipment_tree').innerHTML = html

  </script>
{% endblock %}

