{% extends "base.html" %}
{% load static %}

{% block content %}
{{history_logs | json_script:'history_logs'}}
<section class="section history">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Reports -->
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                
                <div class="row">
                  <div class="input-group mb-2 mt-3 p-0">
                    <span class="input-group-text">
                      <i class="bi bi-arrow-left-circle mr-3"></i>
                      <i class="bi bi-arrow-right-circle mr-3"></i>
                      <i class="bi bi-arrow-up-circle mr-3"></i>
                      <i class="bi bi-arrow-down-circle"></i>
                    </span>
                    <input type="text" class="form-control" id="history-db-function" aria-describedby="basic-addon3" placeholder="DB Function">
                  </div>
                </div>

                <div class="history_page tab-content pt-2">

                  <!-- Start History Tab Content -->
                  <div class="tab-pane fade show active">
                    <!-- Main Content -->
                    <div class="row">
                      <!-- Left State Menu -->
                      <div class="col-xxl-3 col-lg-3 col-md-4 p-0">
                        <div class="card info-card left_state_menu border-gray">
                          <ul class="sidebar-nav" id="sidebar-nav">
                            <li class="nav-item">
                              <a class="nav-link log-item">
                                <i class="bi bi-wallet"></i>
                                <span>Equipment</span>
                              </a>
                            </li><!-- End Equipment  Nav -->
                            <li class="nav-item">
                              <a class="nav-link collapsed log-item">
                                <i class="bi bi-wallet"></i>
                                <span>Equipment Types</span>
                              </a>
                            </li><!-- End Equipment Types Nav -->
                            <li class="nav-item">
                              <a class="nav-link collapsed log-item">
                                <i class="bi bi-wallet"></i>
                                <span>Equipment Resources</span>
                              </a>
                            </li><!-- End Equipment Resources Nav -->
                            <li class="nav-item">
                              <a class="nav-link collapsed log-item">
                                <i class="bi bi-wallet"></i>
                                <span>Equipment Properties</span>
                              </a>
                            </li><!-- End Equipment Resources Nav -->
                            <li class="nav-item">
                              <a class="nav-link collapsed log-item">
                                <i class="bi bi-display"></i>
                                <span>Equipment Interfaces</span>
                              </a>
                            </li><!-- End Equipment Interfaces Nav -->
                            <li class="nav-item">
                              <a class="nav-link collapsed log-item">
                                <i class="bi bi-truck"></i>
                                <span>Connections</span>
                              </a>
                            </li><!-- End Connections Nav -->
                            
                            <li class="nav-item">
                              <a class="nav-link collapsed log-item">
                                <i class="bi bi-display"></i>
                                <span>Connection Types</span>
                              </a>
                            </li><!-- End Connection Types Nav -->
                          
                          </ul>
                        </div>
                      </div><!-- End Left State Menu -->
                      
                      <!-- Middle Overview -->
                      <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
                        <div class="card card-body right_overview border-gray">
                            <div class="flex justify-between history-info-title">
                              <h5 class="card-title">
                                <b>
                                    <span class="item-log">Equipment</span>&nbsp;Logs
                                </b>
                              </h5>
                              <button class="btn btn-primary" style="width: 7rem;" id="export-history">
                                <a href="">Export</a>
                              </button>
                            </div>
                            <table class="display nowrap custom_datatable1" id="history_table">
                                <thead style="background-color: #000; color: white; border: solid 1px;">
                                    <tr>
                                        <th>Item Name</th>
                                        <th>Action</th>
                                        <th width="30%">Before</th>
                                        <th width="30%">After</th>
                                        <th>Log time</th>
                                    </tr>
                                </thead>
                            <tbody>
                            
                            </tbody>
                            </table><!-- End System Settings Details table -->
                        </div>
                      </div><!-- End Middle Overview -->


                    </div><!-- End Main Content -->
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">

    
  </script>
{% endblock %}