{% extends "base.html" %}
{% load static %}

{% block content %}
{{history_logs | json_script:'history_logs'}}
<section class="section history">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Reports -->
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                
                <div class="row">
                  <div class="input-group mb-2 mt-3 p-0">
                    <span class="input-group-text">
                      <i class="bi bi-arrow-left-circle mr-3"></i>
                      <i class="bi bi-arrow-right-circle mr-3"></i>
                      <i class="bi bi-arrow-up-circle mr-3"></i>
                      <i class="bi bi-arrow-down-circle"></i>
                    </span>
                    <input type="text" class="form-control" id="history-db-function" aria-describedby="basic-addon3" placeholder="DB Function">
                  </div>
                </div>

                <div class="history_page tab-content pt-2">

                  <!-- Start History Tab Content -->
                  <div class="tab-pane fade show active">
                    <!-- Main Content -->
                    <div class="row">
                      <!-- Left Object Hierarchy -->
                      <div class="col-xxl-3 col-lg-3 col-md-4 p-0">
                        <div class="card info-card left_object_hierarchy border-gray">
                          <div class="treeview-animated border mx-2 my-2">
                            <h6 class="pt-3 pl-3">All Items</h6>
                            <hr>
                            <ul class="treeview-animated-list mb-3" id="all_history_tree">
                              
                            </ul>
                          </div>
                        </div>
                          
                      
                      </div><!-- End Left Object Hierarchy -->
                      
                      <!-- Middle Overview -->
                      <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
                        <div class="card card-body right_overview border-gray">
                            <h5 class="card-title"><b>Database Logs</b></h5>
                            <table class="display nowrap custom_datatable1" id="history_table">
                                <thead>
                                    <tr>
                                        <th>Log time</th>
                                        <th>Item</th>
                                        <th>Action</th>
                                        <th>Before</th>
                                        <th>After</th>
                                    </tr>
                                </thead>
                            <tbody>
                            
                            </tbody>
                            </table><!-- End System Settings Details table -->
                        </div>
                      </div><!-- End Middle Overview -->


                    </div><!-- End Main Content -->
                  </div>
                  <!-- // End Connection Tab Content -->
                </div><!-- End Bordered Tabs -->
              </div>
            </div>
          </div><!-- End Reports -->
        </div>
      </div><!-- End Left side columns -->
    </div>
  </section>
  <script type="text/javascript">
    history_functions = [
        {
            "title": "Main",
            "children": [
                "Equipment",
                "Connections",
                "System"
            ]
        },
        {
            "title": "Definitions",
            "children": [
                "System Parameters",
                "System Users",
                "Equipment Types",
                "Equipment Resources",
                "Equipment Properties",
                "Equipment Interfaces",
                "Attribute Classes",
                "Connection Types",
                "Target Systems",
                "Possible Equipment/Connection States"
            ]
        }
    ]

    function createTree(data) {
        
      let html = ""
      data.forEach(element => {
        children_content = "";

        element.children.forEach(child => {
            children_content += '<li class="treeview-li function-item"><div class="treeview-animated-element treeview-title"> \
          '+ child + '</li>'
        })
        html += '<li class="treeview-animated-items treeview-li"> \
                      <a class="closed open"> \
                        <i class="fas fa-angle-right"></i> \
                        <span class="ml-1 treeview-title">'+ element.title+'</span> \
                      </a> \
                      <ul class="nested">' 
            + children_content
            + '</ul></li>'
      });
      return html
    }

    const html = createTree(history_functions)
    document.getElementById('all_history_tree').innerHTML = html

    
  </script>
{% endblock %}