{% extends "base.html" %}
{% load static %}

{% block content %}

{{purchasing_equipment | json_script:'purchasing_equipment'}}
{{purchasing_connection | json_script:'purchasing_connection'}}

<section class="section equipment">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Reports -->
          <div class="col-12">
            <div class="card">
              <div class="card-body">

                <div class="row">
                  <div class="input-group mb-2 mt-3 p-0">
                    <span class="input-group-text">
                      <i class="bi bi-arrow-left-circle mr-3"></i>
                      <i class="bi bi-arrow-right-circle mr-3"></i>
                      <i class="bi bi-arrow-up-circle mr-3"></i>
                      <i class="bi bi-arrow-down-circle"></i>
                    </span>
                    <input type="text" class="form-control" id="basic_delievery_full_identifer" aria-describedby="basic-addon3" placeholder="Full identifier (description)">
                  </div>
                </div>

                  <!-- Start System Tab Content -->
                  <div class="tab-pane fade show active">
                    <!-- Main Content -->
                    <div class="row ">
                      <!-- Left State Menu -->
                      <div class="col-xxl-2 col-lg-2 col-md-3 p-0">
                        <div class="card info-card left_state_menu border-gray">
                          <ul class="sidebar-nav" id="sidebar-nav">
                            <li class="nav-item">
                              <a class="nav-link collapsed" href="{% url 'system' %}">
                                <i class="bi bi-wallet"></i>
                                <span>System</span>
                              </a>
                            </li><!-- End System Nav -->
                            <li class="nav-item">
                              <a class="nav-link collapsed" href="{% url 'system_purchasing_overview' %}">
                                <i class="bi bi-wallet"></i>
                                <span>Purchasing Overview</span>
                              </a>
                            </li><!-- End Purchasing Overview Nav -->
                            <li class="nav-item">
                              <a class="nav-link collapsed" href="{% url 'system_purchasing_detail' %}">
                                <i class="bi bi-wallet"></i>
                                <span>Purchasing Detail</span>
                              </a>
                            </li><!-- End Purchasing Detail Nav -->
                            <li class="nav-item">
                              <a class="nav-link " href="{% url 'system_delivery' %}">
                                <i class="bi bi-truck"></i>
                                <span>Delivery</span>
                              </a>
                            </li><!-- End Delivery Nav -->
                            <li class="nav-item">
                              <a class="nav-link collapsed" href="{% url 'system_state' %}">
                                <i class="bi bi-display"></i>
                                <span>Current Equipment State</span>
                              </a>
                            </li><!-- End State Nav -->
                          </ul>
                        </div>
                      </div><!-- End Left State Menu -->
                      <div class="col-xxl-10 col-lg-10 col-md-9 p-0 pl-1">
                        <nav>
                          <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-equipment-tab" data-bs-toggle="tab" data-bs-target="#nav-equipment" type="button" role="tab" aria-controls="nav-equipment" aria-selected="true">Equipment</button>
                            <button class="nav-link" id="nav-connection-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Connection</button>
                          </div>
                        </nav>
                        <div class="tab-content " id="nav-tabContent">
                          <div class="delivery-equipment tab-pane fade show active pt-2" id="nav-equipment" role="tabpanel" aria-labelledby="nav-equipment-tab">
                            <div class="row ml-2 pr-2">
                              <div class="col-xxl-3 col-lg-3 col-md-3 p-0">
                                <div class="card info-card middle_object_hierarchy border-gray">
                                  <!-- Start TreeView Content -->
                                  <div class="treeview-animated border mt-3">
                                    <h6 class="pt-3 pl-3">Equipment Type</h6>
                                    <ul class="treeview-animated-list mb-3" id="delivery_equipment_tree">
                                      
                                    </ul>
                                  </div>
                                  <!-- // End TreeView Content -->
                                </div>
                              </div><!-- End Middle Object Hierarchy -->
                              <!-- Right Overview -->
                              <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
                                <div class="card card-body right_overview border-gray">
                                  <!-- Equipment Type purchasing table -->
                                  <h5 class="card-title">Equipment Type Purchasing Details</h5>
                                  <table class="display nowrap custom_datatable text-center" id='delivery_equipment_type_table'>
                                    <thead class="text-center">
                                      <tr>
                                        <th>Full identifier</th>
                                        <th>Equip Description</th>
                                        <th>Manufacturer</th>
                                        <th>PO Reference</th>
                                        <th>PO Date</th>
                                        <th>Due Date</th>
                                        <th>Received Date</th>
                                        <th>Serial Number</th>
                                        <th>Location</th>
                                      </tr>
                                    </thead>
                                    <tbody class="text-center">
                                      
                                    </tbody>
                                  </table> 
        
                                </div>
                              </div><!-- End Right Overview -->
                            </div>
                          </div>
                          <div class="delivery-connection tab-pane fade pt-2" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="row ml-2 pr-2">
                              <div class="col-xxl-3 col-lg-3 col-md-3 p-0">
                                <div class="card info-card middle_object_hierarchy border-gray">
                                  <!-- Start TreeView Content -->
                                  <div class="treeview-animated border">
                                    <h6 class="pt-3 pl-3">Connection Type</h6>
                                    <ul class="treeview-animated-list mb-3" id="delivery_connection_tree">
                                      
                                    </ul>
                                  </div>
                                  <!-- // End TreeView Content -->
                                </div>
                              </div><!-- End Middle Object Hierarchy -->
                              
                              <!-- Right Overview -->
                              <div class="col-xxl-9 col-lg-9 col-md-8 p-0">
                                <div class="card card-body right_overview border-gray">
                                  <!-- Connection Type purchasing table -->
                                  <h5 class="card-title">Connection Type Purchasing Details</h5>
                                  <table class="display nowrap custom_datatable text-center" id='delivery_connection_type_table'>
                                    <thead class="text-center">
                                      <tr>
                                        <th>Location identifier</th>
                                        <th>Connection Description</th>
                                        <th>PO Reference</th>
                                        <th>PO Date</th>
                                        <th>Due Date</th>
                                        <th>Received Date</th>
                                        <th>Serial Number</th>
                                        <th>Location</th>
                                      </tr>
                                    </thead>
                                    <tbody class="text-center">
                                      
                                    </tbody>
                                  </table><!-- End Connection Type purchasing table with stripped rows -->
                                </div>
                              </div><!-- End Right Overview -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Middle Object Hierarchy -->
                      <!-- Buttons Section -->
                      <div class="col-xxl-12 col-lg-12 col-md-12">
                        <div class="card">
                          <div class="card-body buttons_section">
                            <button type="button" class="btn btn-outline-secondary mr-3">Cancel</button>
                            <button type="button" class="btn btn-outline-primary">Commit</button>
                          </div>
                        </div>
                      </div><!-- End Buttons Section -->
                    </div><!-- End Main Content -->
                  </div>
                  <!-- // End System Tab Content -->
                </div><!-- End Bordered Tabs -->
              </div>
            </div>
          </div><!-- End Reports -->
        </div>
      </div><!-- End Left side columns -->
    </div>
    
  </section>
  <script type="text/javascript">
    purchasing_equipment = JSON.parse(document.getElementById('purchasing_equipment').textContent)
    
    purchasing_connection = JSON.parse(document.getElementById('purchasing_connection').textContent)
    
    function createEquipmentTree(data) {
      const nodeWithParent = []
      
      //make the type_path as string from list
      data.forEach(element => {
        path = element.type_path.join('.')
        element.type_path = path        
      })

    
      //Find the parent for each element
      data.forEach(element => {
        const parent = element.type_path.includes('.')? element.type_path.substr(0, element.type_path.lastIndexOf('.')):null
        nodeWithParent.push({...element, parent})
      });

      //Recursive function to create HTML out of node
      function getNodeHtml(n) {
        let html = ''
        const children = nodeWithParent.filter(d => d.parent === n.type_path)
                  
        if(children.length > 0) {
          html += '<li class="treeview-animated-items treeview-li"> \
                      <a class="closed"> \
                        <i class="fas fa-angle-right"></i> \
                        <span class="ml-1 treeview-title" data-typepath="'+ n.type_path +'">'+ n.type_label + '  (' + n.type_description + ')</span> \
                      </a> \
                      <ul class="nested">' 
            + children.map( getNodeHtml).join('')
            + '</ul></li>'
        }
        else{
          html += '<li class="treeview-li"><div class="treeview-animated-element treeview-title" data-typepath="'+ n.type_path + '"> \
          '+ n.type_label + '  (' + n.type_description +')</li>'
        }
        return html
      }

      // Get all root nodes (without parent)
      const root = nodeWithParent.filter(d => d.parent === nodeWithParent[0].parent)

      return root.map(getNodeHtml).join('')
    }

    function createConnectionTree(data) {
      const nodeWithParent = []
      
      //make the type_path as string from list
      data.forEach(element => {
        path = element.connection_type_path.join('.')
        element.connection_type_path = path        
      })

    
      //Find the parent for each element
      data.forEach(element => {
        const parent = element.connection_type_path.includes('.')? element.connection_type_path.substr(0, element.connection_type_path.lastIndexOf('.')):null
        nodeWithParent.push({...element, parent})
      });

      //Recursive function to create HTML out of node
      function getNodeHtml(n) {
        let html = ''
        const children = nodeWithParent.filter(d => d.parent === n.connection_type_path)
                  
        if(children.length > 0) {
          html += '<li class="treeview-animated-items treeview-li"> \
                      <a class="closed"> \
                        <i class="fas fa-angle-right"></i> \
                        <span class="ml-1 treeview-title" data-typepath="'+ n.connection_type_path +'">'+ n.connection_type_label + '  (' + n.connection_type_description + ')</span> \
                      </a> \
                      <ul class="nested">' 
            + children.map( getNodeHtml).join('')
            + '</ul></li>'
        }
        else{
          html += '<li class="treeview-li"><div class="treeview-animated-element treeview-title" data-typepath="'+ n.connection_type_path + '"> \
          '+ n.connection_type_label + '  (' + n.connection_type_description +')</li>'
        }
        return html
      }

      // Get all root nodes (without parent)
      const root = nodeWithParent.filter(d => d.parent === nodeWithParent[0].parent)

      return root.map(getNodeHtml).join('')
    }

    const equipmentTypehtml = createEquipmentTree(purchasing_equipment)
    const connectionTypehtml = createConnectionTree(purchasing_connection)
    document.getElementById('delivery_equipment_tree').innerHTML = equipmentTypehtml
    document.getElementById('delivery_connection_tree').innerHTML = connectionTypehtml

  </script>
{% endblock %}